:root{
    --primary-color: #AF0000;
    --secondary-color:#f7f4f4;
    --fire-orange:#FE0000;
    --midnight:#00232A;
    --sunray:#ff9b9b;
    --pig-red:#730000;
    --section-spacing: 200px;
}
header {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    position: sticky;
    top: 0;
    
}
     
body{
    background-color: var(--secondary-color);
}


.get-tickets-container{
    background-image: url('/images/photo-1647331460279-0076ad6c1e7b.avif');
    padding-bottom: 30px;
    background-size:50%;
    background-repeat: no-repeat;
    background-position:right;
    width: 100%;
    background-color: #000000;
    color: var(--secondary-color);
    padding: 20px;
    margin-bottom: var(--section-spacing);
}
.trans{
    padding: 20px;
    color: white;
    background: linear-gradient(180deg,var(--primary-color)50%, rgb(0, 0, 0) 100%);
}
.btn-branding-outline{
    margin-top: 5px;
    margin-right: 10px;
    text-decoration: none;
    color:var(--secondary-color);
    border-radius: 6px;
    padding-left: 4px;
    

}

.btn-branding{
    padding: 10px;
    color: var(--secondary-color);
    background-color: var(--primary-color);
    border-radius: 15px;
    text-decoration: none;
    margin:0 auto;

}
.count-down{
    background: radial-gradient(circle,var(--fire-orange)0%, var(--secondary-color) 50%, var(--sunray) 100%);
    padding: 10px;
    margin-bottom:  var(--section-spacing);
}
.gallery-section{
    margin-bottom: var(--section-spacing);
}
.gallery-links h2{
    margin-bottom: 70px;
    text-align: center;
}
.social-links{
    text-align: center;
}
.social-links a{
    padding: 15px;
    font-size: 28px;
    color:#ff9b9b;
    margin: 0 auto;
    text-decoration: none;
    transition: 5ms ease-in-out;
}
footer{
    border: 1px solid var(--pig-red);
}
.filler{
    background: #ff9b9b;
    margin-bottom: 50px;
}
/* .contact-container{
    border-top:1px solid var(--sunray) ;
} */
.contact-container h5{
    color:#ff9b9b;
    font-weight: bolder;
}
.contact-container a{
    padding: 10px;
    font-size: 18px;
    color:var(--sunray);
    margin: 0 auto;
    text-decoration: none;
    transition: 5ms ease-in-out;
    margin-top: 10px;
}