:root{
    --primary-color: #AF0000;
    --secondary-color:#f7f4f4;
    --fire-orange:#FE0000;
    --midnight:#00232A;
    --sunray:#ff9b9b;
    --pig-red:#730000;
    --section-spacing: 200px;
}
header {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    position: sticky;
    top: 0;
    
}
     
body{
    background-color: var(--secondary-color);
}


.get-tickets-container{
    background-image: url('/images/photo-1647331460279-0076ad6c1e7b.avif');
    padding-bottom: 30px;
    background-size:50%;
    background-repeat: no-repeat;
    background-position:right;
    width: 100%;
    background-color: #000000;
    color: var(--secondary-color);
    padding: 100px;
    margin-bottom: var(--section-spacing);
}
.trans{
    padding: 20px;
    color: white;
    background: linear-gradient(180deg,var(--primary-color)50%, rgb(0, 0, 0) 100%);
}
.btn-branding-outline{
    margin-top: 5px;
    margin-right: 10px;
    text-decoration: none;
    color:var(--secondary-color);
    border-radius: 6px;
    padding-left: 4px;
    
}

.btn-branding{
    padding: 10px;
    color: var(--secondary-color);
    background-color: var(--primary-color);
    border-radius: 15px;
    text-decoration: none;
    margin:0 auto;

}
.count-down{
    background: radial-gradient(circle,var(--primary-color)0%, var(--secondary-color) 50%, var(--sunray) 100%);
    padding: 10px;
    margin-bottom:  var(--section-spacing);
}
.gallery-section{
    margin-bottom: var(--section-spacing);
}
.gallery-links h2{
    margin-bottom: 70px;
    text-align: center;
}
.social-links{
    text-align: center;
}
.social-links a{
    padding: 15px;
    font-size: 28px;
    color:var(--sunray);
    margin: 0 auto;
    text-decoration: none;
    transition: 5ms ease-in-out;
}
footer{
    border: 1px solid var(--pig-red);
    background-color: var(--sunray);
}
.filler{
    padding: 50px;
}
.contact-container{
    background-color: var(--secondary-color);
    padding: 50px;
    border-bottom:1px solid var(--sunray) ;
}
.contact-container h5{
    font-weight: bolder;
}
.contact-container a{
    padding: 10px;
    font-size: 18px;
    color:var(--sunray);
    margin: 0 auto;
    text-decoration: none;
    transition: 5ms ease-in-out;
}
.site-links{
    color: var(--primary-color);
    font-size: 20px;
    font-weight: bolder;
}
.site-links a{
    display: flex;
    margin: 0 auto;
}
.quick-links{
    align-items: center;
    background-color: var(--sunray);
}
.quick-links a{
    color:var(--primary-color);
    font-size: 18px;
    display:block;
    font-weight: bold;
    text-decoration: none;
    line-height: 2.5em;
    text-align: center;
}


/* about page */
.about-section{
    margin-bottom: var(--section-spacing);
}
.about-container{
    background-color: var(--secondary-color);
    color:var(--primary-color);
    padding: 50px;
    border-bottom:1px solid var(--sunray) ;
}
.about-image{
    background-image: url(/images/premium_photo-1664304745123-36f04a51acb9.avif);
    background-repeat: no-repeat;
    background-size: cover;
}
.mission, .vision, .values{
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 20px;
    margin-bottom: var(--section-spacing);
    border-radius: 15px;
    box-shadow: 0 10px 20px var(--sunray);
}
.mission h2, .vision h2, .values h2{
    text-align: center;
}
.mission p, .vision p, .values p{
    text-align: center;
    font-size: 16px;
}
.values ul{
    list-style: none;
    padding: 0;
}

.local-talent, .youth-empowerment, .vendor-support,
.cultural-celebration, .charity-drives, .pink-pit
{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color:var(--secondary-color);
    padding: 50px;
    opacity: 0.7;
}

.local-talent{
    background-image: url(/images/photo-1657201082100-fce795a4f7c7.avif);
}
.youth-empowerment{
    background-image: url(/images/photo-1618651931533-043456088d7b.avif);
}
.vendor-support{
    background-image: url(/images/photo-1666350773137-cbc310aaf909.avif);
}
.cultural-celebration{
    background-image: url(/images/photo-1685832641185-81e626484937.avif) ;
}
.charity-drives{
    background-image: url(/images/premium_photo-1671482215421-360cbc885c0a.avif);
}
.pink-pit{
    background-image: url(/images/premium_photo-1714618993157-a4292607ba30.avif);
}

.local-talent p, 
.youth-empowerment p,
.vendor-support p,
.cultural-celebration p,
.charity-drives p,
.pink-pit p
{
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 15px;
    box-shadow: 0 5px 10px var(--sunray);
    padding: 10px;
}
.career-1{
    padding: 15px;
    background: #0f0f0f;
    background: linear-gradient(235deg, var(--sunray) 50%, rgba(255, 255, 255, 1) 50%, rgb(255, 255, 255) 50%);
}

.career-2{
    padding: 15px;
    background: #0f0f0f;
    background: linear-gradient(50deg, var(--sunray) 50%, rgba(255, 255, 255, 1) 50%, rgb(255, 255, 255) 50%);
}
.career-1 a, .career-2 a{
    background-color: #000000;
    margin: 0 auto;
    display: inline-block;
}